<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Weathery Food</title>
  <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>


<div class="app-container">

<script type="text/template" data-template-name="weathTemplate">
  <div class="weatherInfo">
    <h1><% temperature %></h1>
    <h1><% summary %><h1>

  <% _.each(weather, function(currentCond) { %>

  });
  </div>

</script>

  <div class="foodInfo"></div>





</div>


  <!-- <h1>Find food to match the weather!</h1>
   -->
  <script type="text/template" id="home">
    <a href="#results/a">state one</a>
  </script>

  <script type="text/template" id="results">
    <a href="">state two</a>
  </script>






<!--   <div id="weatherDisp">

<script type="text/template" id="weather">
  <h2>
    <%= apparentTemperature %>
  </h2>
  <h2>
    <%= summary %>
  </h2>
  <h2>
    <%= windSpeed %>
  </h2>
</script>
</div> -->




  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="main.js"></script>
  <script src="geo.js"></script>
  <script src="bigoven.js"></script>
  <script src="food.js"></script>
</body>

</html>
